# Python file to prepare plots for presentations
forPresentation.py

# editor stuff (vim Pymode uses rope)
.ropeproject/
.*.swp

# data / output files
*.out
*.txt
*.jpg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
*.egg-info/

# Sphinx documenta
target/

#Ipython Notebook
.ipynb_checkpoints
.idea/
# docs/source/_static/
# docs/source/_templates/
